h1,h2,h3,h4,h5{
    margin: 0;
}


.main {
    display: flex;
    gap: 16px;
}

.product-picture{
    border: 1px solid #F2F2F2;
}

.product-picture img{
    width: 150px;
    padding: 50px 75px;
}

.product__head {
    font-size: 24px;
    font-weight: 700;
}
.product__text {
    font-size: 14px;
    font-weight: 400;
}
.product__subtitle {
    font-size: 18px;
    font-weight: 700;
}
.total {
    display: flex;
    align-items: center;
    gap: 16px;
}
.total__price {
    color: #E97F03;
    font-size: 36px;
    font-weight: 400;
}

.cart-button {
    width: 160px;
    height: 40px;
    color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E97F03;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.total img{
    cursor: pointer;
}

.counter{
    width: 180px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    font-size: 24px; 
}

.button{
    position: relative;
    background-color: inherit;
    list-style: none;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-button{
    border-left: 1px solid black;
}

.left-button{
    border-right: 1px solid black;
}

@media screen and (max-width: 375px) {
    .product-picture{
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 50%);
        border: none;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product-picture img{
        padding: 0;
    }
    .main {
        flex-direction: column;

    }

    .product-description{
        padding: 16px 24px;
    }
    
    .total{
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 27px;
        row-gap: 16px;
    }

    .total__price{
        order: 1;
    }

    .heart__img{
        order: 2;
        padding-left: 40px;
    }

    .cart-button{
        order: 4;
    }

    .counter{
        order: 3;
        width: 138px;
    }
}